.banner{
    box-sizing: border-box;
    background-image: url(/assets/img/Bruno\ Antunes.png);
    background-repeat: no-repeat;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    padding-left: 90px;
    height: 800px;
}



.banner .box{
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 5px 5px 0 #000;
    text-align: center;
    padding: 42px 44px;
    font-family: "Press Start 2P", sans-serif;
    margin-bottom: 40px;
}

.banner .navigation{
    display: flex;
    justify-content: space-around;
    font-family: "Fira Code";
}

/* Estilo responsivo */
@media (max-width: 768px){

    .banner{
        box-sizing: border-box;
        background-image: url(/assets/img/Bruno\ Antunes\ responsivo.png);
        background-repeat: no-repeat;
        border-bottom: 10px solid #000;
        padding-top: 15px;
        padding-left: 15px;
        height: 290px;
    }

    .banner .box{
        width: 180px;
        height: 50px;
        display: inline-block;
        background-color: #3A4042;
        box-shadow: 5px 5px 0 #000;
        text-align: center;
        padding: 12px 14px;
        font-family: "Press Start 2P", sans-serif;
        margin-bottom: 40px;
    }    
}

