.banner{
    box-sizing: border-box;
    background-image: url(/assets/img/banner_bantunes.png);
    background-repeat: no-repeat;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    padding-left: 90px;
    height: 800px;
}

.banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 640px;
}

.banner .box{
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 5px 5px 0 #000;
    text-align: center;
    padding: 42px 44px;
    font-family: "Press Start 2P", sans-serif;
    margin-bottom: 40px;
}

.banner .navigation{
    display: flex;
    justify-content: space-around;
    font-family: "Fira Code";
}