/* Estilo Básico */
.sobre {
    background-color: #88CCF1;
    border-bottom: 10px solid #000;
    padding: 60px;
    padding-top: 30px;
}

.titles {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.line-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itens {
    overflow: hidden;
    width: 85%; /* Ajuste a largura conforme necessário */
}

.elementsp {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.node-card {
    flex: 0 0 auto; /* Não permitir que os itens encolham ou cresçam */
    width: 300px; /* Largura fixa dos itens */
    margin-right: 10px; /* Espaçamento entre os itens */
}

.border {
    width: 100%;
    height: auto;
    border: 2px solid #000;
    border-radius: 5px;
}

.button-arrow {
    background-color: #88CCF1;
    border: none;
    cursor: pointer;
}

.button-arrow::before {
    content: "";
    display: block;
    border: 25px solid transparent;
}

.button-arrow.-left::before {
    border-right: 25px solid white;
}

.button-arrow.-right::before {
    border-left: 25px solid white;
}

.content{
    display: none;
}

/* Estilo Responsivo */
@media (max-width: 768px) {

    .line-time{
        margin-left: 57px;
    }

    .border{
        height: 150px;
        width: 170px;
    }

    .itens {
        width: 100%;
    }

    .node-card {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .node-card {
        width: 250px;
    }

    .button-arrow {
        width: 40px;
        height: 40px;

    }

    .button-arrow::before {
        content: "";
        display: block;
        border: 15px solid transparent;
    }
    
    .button-arrow.-left::before {
        border-right: 15px solid white;
    }
    
    .button-arrow.-right::before {
        border-left: 15px solid white;
    }
}