.projetos{
    background-color: #000;
    border-bottom: 10px solid #2D898B;
}

.node-card-projeto{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}


.line-time-projeto{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 20px;

}

.itens-projeto{
    overflow: hidden;
}

.elementsp-projeto{
    transition: transform 100ms ease-in-out;
}

.button-arrow-projeto{

    width: 50px;
    height: 50px;
    background-color: #2D898B;
    box-shadow: 5px 5px 0px #fff;
    border: 0px;
    padding: 0px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    
}


.button-arrow-projeto .content-projeto{
    display: none;
}

.button-arrow-projeto::before{
    content: "";
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 15px solid transparent;
    border-left: 28px solid white;
    transform: translateX(5px);
}

.button-arrow-projeto.-left::before{
    transform: rotate(180deg);
}
