/* Estilo Básico */
.projetos {
    background-color: #000;
    border-bottom: 10px solid #2D898B;
    padding: 60px;
    padding-top: 30px;
}

.titles {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.line-time-projeto {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itens-projeto {
    overflow: hidden;
    width: 85%; /* Ajuste a largura conforme necessário */
}

.elementsp-projeto {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.node-card-projeto {
    flex: 0 0 auto; /* Não permitir que os itens encolham ou cresçam */
    width: 300px; /* Largura fixa dos itens */
    margin-right: 10px; /* Espaçamento entre os itens */
}

.border-projeto {
    width: 100%;
    height: auto;
    border: 2px solid #2D898B;
    border-radius: 5px;
}

.button-arrow-projeto {
    background-color: black;
    border: none;
    cursor: pointer;
}

.button-arrow-projeto::before {
    content: "";
    display: block;
    border: 25px solid transparent;
}

.button-arrow-projeto.-left::before {
    border-right: 25px solid white;
}

.button-arrow-projeto.-right::before {
    border-left: 25px solid white;
}

.content-projeto{
    display: none;
}

/* Estilo Responsivo */
@media (max-width: 768px) {

    .border-projeto{
        height: 150px;
        width: 170px;
    }

    .itens-projeto {
        width: 100%;
    }

    .node-card-projeto {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .node-card-projeto {
        width: 250px;
    }

    .button-arrow-projeto {
        width: 40px;
        height: 40px;
    }

    .button-arrow-projeto::before {
        content: "";
        display: block;
        border: 15px solid transparent;
    }
    
    .button-arrow-projeto.-left::before {
        border-right: 15px solid white;
    }
    
    .button-arrow-projeto.-right::before {
        border-left: 15px solid white;
    }
}
