.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    color: #fff;
    padding: 30px;
}

/* Estilo responsivo */
@media (max-width: 768px) {
    .titles{
        font-size: 30px;
    }
}